
- var static_image_path = "images/"
- var image_path = "images/"

//- Email Components
- var email_subject = "My Subject"

- var email_preheader = "The preheader Copy"
- var view_in_browser_link_url = ""
- var view_in_browser_link_text = "View in Browser"


//- campaign Overview
- var campaign_hero_image_url = image_path + ""
- var campaign_hero_image_link_url = "www.google.com"
- var campaign_logo_image = image_path + ""
- var campaign_headline = "Feel the Bern"
-
    var campaign_body = [
    {
   'body_text': "Have you familiarized yourself with the many features and functions of your BMW i3 yet? We encourage you to reach out to your BMW center to set up your complimentary BMW Encore™ appointment. This special session is, scheduled at a time of your convenience to answer all the questions you may have about your BMW i3."
    },
    {
   'body_text': "Discover all the apps essential to your BMW i3 and learn more about the ChargeNow program below."
    }
    ]
-
    var campaign_cta_data = [
    {
   'cta_text': "Camp CTA",
   'cta_type': "button",
   'cta_color': "brand_color",
   'cta_link_url': "www.google.com"
    }
    ]
-
    var campaign_legal = [
    {
   'legal_text': "Legal Eagle"
    }
    ]

//- lefty Overview
- var lefty_hero_image_url = image_path + ""
- var lefty_hero_image_link_url = "www.reddit.com"
- var lefty_logo_image = image_path + ""
- var lefty_headline = "Yeah, get some!"
-
    var lefty_body = [
    {
   'body_text': "Discover all the apps essential to your BMW i3 and learn more about the ChargeNow program below."
    }
    ]
-
    var lefty_cta_data = [
    {
   'cta_text': "Link 1",
   'cta_type': "link",
   'cta_color': "brand_color_alt",
   'cta_link_url': "www.reddit.com"
    },
    {
   'cta_text': "Link 2",
   'cta_type': "link",
   'cta_color': "brand_color",
   'cta_link_url': "www.trinityforcenetwork.com"
    }
    ]
-
    var lefty_legal = [
    ]

//- Righty Overview
- var Righty_hero_image_url = image_path + ""
- var Righty_hero_image_link_url = ""
- var Righty_logo_image = image_path + ""
- var Righty_headline = "Womp womp"
-
    var Righty_body = [
    {
   'body_text': "Not a lot of copy going on here."
    }
    ]
-
    var Righty_cta_data = [
    ]
-
    var Righty_legal = [
    ]

//- Footer
- var footer_copy = ""
//- END
